link.mode=SOURCE
connection.mode=OUTBOUND
bootstrap.servers=<DEST_BOOTSTRAP>

security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='<DEST_APIKEY>' password='<DEST_APIPASSWORD>';
sasl.mechanism=PLAIN

# if source cluster has security, put in a authentication details here, prefixed by "local.". SCRAM-SHA-512 is provided for example
# local.sasl.mechanism=SCRAM-SHA-512
# local.security.protocol=SASL_PLAINTEXT
# local.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required   username="app"   password="password";