python_notify
img_data
*.docx
gcp-pipeline/run_it_on_gce_with_creds.sh
gcp_creds.json
gcp-pipeline/docker-compose-ccloud_with_creds.yml
slack_creds.sh
credentials.py
credentials.pyc
.vscode
oradata
ccloud-cube-demo/terraform/aws/initialize.sh
ccloud-cube-demo/terraform/aws/cloud.auto.tfvars
ccloud-cube-demo/terraform/aws/ccloud.auto.tfvars
ccloud-cube-demo/terraform/aws/.terraform/**/*.*
ccloud-cube-demo/terraform/aws/terraform.tfstate
ccloud-cube-demo/terraform/aws/terraform.tfstate.backup
ccloud-cube-demo/terraform/aws/.terraform.tfstate.lock.info
.idea
