export CLOUD_PROVIDER="gcp"
export DEMO_NAME="confluentmongodb"
export DEMO_PASSWORD="Confluent123!"
export SCHEMA_REGISTRY_GEO="eu"
export CLUSTER_REGION="eu-west-2"

export GCP_PROJECT="<YOUR_GCP_PROJECT>"
export GCP_JSON_CREDENTIALS_PATH="<YOUR_GCP_JSON_CREDENTIALS_PATH>"
export GCP_REGION="europe-west2"
export GCP_REGION_ZONE="europe-west2-c"

export MONGODBATLAS_PUBLIC_KEY="<YOUR_MONGODBATLAS_PUBLIC_KEY>"
export MONGODBATLAS_PRIVATE_KEY="<YOUR_MONGODBATLAS_PRIVATE_KEY>"
export MONGODBATLAS_PROJECT_ID="<YOUR_MONGODBATLAS_PROJECT_ID>"
export MONGODBATLAS_PROVIDER_REGION_NAME="WESTERN_EUROPE"
export MONGODBATLAS_PROVIDER_INSTANCE_SIZE_NAME="M10"

# If you want to resuse an existing environment uncomment this
#export ENVIRONMENT="t36233"
