###########################################
############# Confluent Cloud #############
###########################################

bootstrap_server = "<CCLOUD_BOOTSTRA_SERVER>"
cluster_api_key = "<CCLOUD_API_KEY>"
cluster_api_secret = "<CCLOUD_API_SECRET>"

schema_registry_url = "<SCHEMA_REGISTRY_URL>"
schema_registry_basic_auth = "<SCHEMA_REGISTRY_BASIC_AUTH>"
