.vscode/**/*.*

terraform/aws/cert.pem
terraform/aws/ccloud.auto.tfvars
terraform/aws/cloud.auto.tfvars
terraform/aws/alexa.auto.tfvars
terraform/aws/.terraform
terraform/aws/terraform.tfstate
terraform/aws/terraform.tfstate.backup
terraform/aws/.terraform.tfstate.lock.info

terraform/gcp/cert.pem
terraform/gcp/ccloud.auto.tfvars
terraform/gcp/cloud.auto.tfvars
terraform/gcp/credentials.json
terraform/gcp/.terraform
terraform/gcp/terraform.tfstate
terraform/gcp/terraform.tfstate.backup
terraform/gcp/.terraform.tfstate.lock.info

terraform/azr/cert.pem
terraform/azr/ccloud.auto.tfvars
terraform/azr/cloud.auto.tfvars
terraform/azr/.terraform
terraform/azr/terraform.tfstate
terraform/azr/terraform.tfstate.backup
terraform/azr/.terraform.tfstate.lock.info

redis-sink/go.sum
scoreboard/go.sum
pipeline/ksql-server.properties
scoreboard/ccloud.properties
