###########################################
################# Alexa ###################
###########################################

alexa_enabled = true
pacman_players_skill_id = "<PACMAN_PLAYERS_SKILL_ID>"
